<section>
    <aside>
        <div>
            <h1>{{'AboutMe' | translate}}</h1>
            <p> Hello, I am Marcel Lakotta, a Frontend Developer based in Dahlen (Sachsen) Germany, gaining my first
                experience with various projects.</p>
        </div>
        <div>
            <div class="aboutme-shortbox">
                <img src="assets/img/bulb.png">
                <p>I completed my continuing education as a Frontend Developer at the Developer Academy.
                    Alongside professional mentors, I learned to write and read code. Consequently,
                    I deepened and expanded my knowledge in this field.
                </p>
            </div>
            <div class="aboutme-shortbox">
                <img src="assets/img/puzzle.png">
                <p>
                    Whether working with a team or independently, I specialize in developing web applications using
                    HTML, CSS, JavaScript, GitHub, Angular, and Firebase. Feel free to explore my projects to get a
                    sense of what I've been working on.
                </p>
            </div>
        </div>
    </aside>
    <div class="me">
        <div class="me-photo-ellipse"></div>
        <div class="line img-line-right"></div>
    </div>
</section>