<section>
    <img class="shadow-about" src="../../../assets/img/shadow_about_me.png" alt="shadow_about_me">
    <aside>
        <div>
            <h1>{{'AboutMe' | translate}}</h1>
            <p> {{'Am p1' | translate}}</p>
        </div>
        <div>
            <div class="aboutme-shortbox">
                <img src="assets/img/bulb.png">
                <p>{{'Am p2' | translate}}</p>
            </div>
            <div class="aboutme-shortbox">
                <img src="assets/img/puzzle.png">
                <p>{{'Am p3' | translate}}</p>
            </div>
        </div>
    </aside>
    <div class="me">
        <div class="me-photo-ellipse"></div>
        <div class="line img-line-right"></div>
    </div>
</section>