<section class="mg-top">
    <div class="wrapper">
        <div class="img">
            <img src="../../../assets/img/Join_nb.png" alt="">
        </div>
        <div class="text">
            <h3>Join</h3>
            <span>HTML | CSS | JavaScript</span>
            <p>{{'Pf tmpl 1 p' | translate}}</p>
            <div class="buttons">
                <a href="http://join.marcel-lakotta.de/" target="_blank"><button class="btn btn-live-test">Live test</button></a>
                <a href="https://github.com/LakottaMa/Join" target="_blank"><button class="btn btn-github">Github</button></a>
            </div>
        </div>
    </div>
</section>