<section>
  <a href="#profil" (click)="scrollToTop()"><h5 class="cp">Marcel</h5></a>
  <nav class="desktop_menu" [class.mobile_menu]="menuValue">
    <a href="#aboutMe" (click)="closeMenu()" [ngClass]="{'active': isActiveLink === 'aboutMe'}"
      (click)="setActiveLink('aboutMe')">{{'AboutMe' | translate}}</a>
    <a href="#mySkills" (click)="closeMenu()" [ngClass]="{'active': isActiveLink === 'mySkills'}"
      (click)="setActiveLink('mySkills')">{{'Skills' | translate}}</a>
    <a href="#portfolio" (click)="closeMenu()" [ngClass]="{'active': isActiveLink === 'portfolio'}"
      (click)="setActiveLink('portfolio')">Portfolio</a>
    <a href="#contact" class="contact d-none" (click)="closeMenu()">{{'Cnt' | translate}}</a>
    <div class="lang">
      <span (click)="changeLanguage('en')" [ngClass]="{'activeLang': isEnActive}">EN</span>
      <p> | </p>
      <span (click)="changeLanguage('de')" [ngClass]="{'activeLang': isDeActive}">DE</span>
    </div>
  </nav>
  <div class="toggle-container d-none" (click)="openMenu()">
    <input type="checkbox" id="checkbox" [(ngModel)]="menuValue">
    <label for="checkbox" class="toggle">
      <div class="bars" id="bar1"></div>
      <div class="bars" id="bar2"></div>
      <div class="bars" id="bar3"></div>
    </label>
  </div>
</section>