<section>
    <div class="wrapper">
        <div class="text">
            <h3>EL POLLO LOCO</h3>
            <span>HTML | CSS | JavaScript</span>
            <p>A simple jump and run game based on an object oriented approach. Help Pepe to find coins and bottles to
                fight the small and big chicks. The big, dangerous rooster awaits Pepe as the final boss.</p>
            <div class="buttons">
                <a href="http://el-pollo-loco.marcel-lakotta.de/" target="_blank"><button class="btn btn-live-test">Live test</button></a>
                <a href="https://github.com/LakottaMa/El-Pollo-Loco" target="_blank"><button class="btn btn-github">Github</button></a>
            </div>
        </div>
        <div class="img">
            <img src="../../../assets/img/El_Pollo_Loco_nb.png" alt="">
        </div>
    </div>
</section>