@import "../../../styles.scss";
@import "../../landing-page/portfolio/portfolio.component.scss";
@import "../../../media-style.scss";

section {
    margin-top: 116px;
    justify-content: space-around;
    padding-bottom: 45px;
}

.wrapper {
    text-align: end;
    width: 100%;
    display: flex;
    align-items: center;
}

.text {
    flex: 2;
    width: 100%;
    max-width: 510px;
    min-width: 200px;
    h3 {
        font-size: 2.5rem;
        color: $blue;
    }
    span {
        font-size: 1.5rem;
        color: $lightblue;
    }
}

.img {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 340px;
    img {
        height: 100%;
    }
}

.buttons {
    justify-content: flex-end;
    display: flex;
    gap: 86px;
}

.btn-live-test {
    background-color: $blue;
    &:hover {
        background-color: $lightblue;
        scale: 1.1;
    }
}

.btn-github {
    border: solid 1px $lightblue;
    background-color: $bg-primary-color;
    &:hover {
        background-color: $lightblue;
        scale: 1.1;
    }
}

@media screen and (max-height: 932px) {
    .mg-top {
        margin-top: 60px !important;
    }
}
