<section class="mg-top">
    <div class="wrapper wrap-reverse">
        <div class="text">
            <h3>EL POLLO LOCO</h3>
            <span>HTML | CSS | JavaScript</span>
            <p>{{'Pf tmpl 2 p' | translate}}</p>
            <div class="buttons">
                <a href="http://el-pollo-loco.marcel-lakotta.de/" target="_blank"><button class="btn btn-live-test">Live test</button></a>
                <a href="https://github.com/LakottaMa/El-Pollo-Loco" target="_blank"><button class="btn btn-github">Github</button></a>
            </div>
        </div>
        <div class="img">
            <img src="../../../assets/img/El_Pollo_Loco_nb.png" alt="">
        </div>
    </div>
</section>