<section>
    <div class="wrap-container">
        <div><img src="../../../../assets/img/Angular.png" alt="angular_logo"><span>Angular</span></div>
        <div><img src="../../../../assets/img/html.png" alt="html_logo"><span>HTML</span></div>
        <div><img src="../../../../assets/img/css.png" alt="css_logo"><span>CSS</span></div>
        <div><img src="../../../../assets/img/javascript.png" alt="javascript_logo"><span>Javascript</span></div>
        <div><img src="../../../../assets/img/ts.png" alt="typescript_logo"><span>Typescript</span></div>
        <div><img src="../../../../assets/img/git.png" alt="git_logo"><span>GIT</span></div>
        <div><img src="../../../../assets/img/scrum.png" alt="scrum_logo"><span>Scrum</span></div>
        <div><img src="../../../../assets/img/Api.png" alt="api_logo"><span>Rest-Api</span></div>
        <div><img src="../../../../assets/img/firebase.png" alt="firebase_logo"><span>Firebase</span></div>
    </div>
    <div class="text">
        <div><h1>My skills</h1><img class="line" src="../../../../assets/img/small_line_blue.png" alt="blue line"></div>
        <p>I have grown my frontend dewvelopment skills that have allowed me to create different real projects</p>
        <a href="#contact"><button class="btn">Get in touch</button></a>
    </div>
</section>