<section>
    <div>
        <img class="me" src="../../../assets/img/me_photo2.png" alt="me_photo">
    </div>
    <div>
        <span>I am</span>
        <div class="text">
            <h1>Marcel Lakotta</h1>
            <h2>FRONTEND DEVELOPER</h2>
            <button class="button-1"> Let's talk!</button>
        </div>
    </div>
    <div class="seperator">
        <div class="seperator-img"></div>
    </div>
    <div class="scroll-down-arrow">
        <img src="../../../../assets/img/scroll_down.png" alt="scroll_down">
    </div>
</section>
<div class="social-links">
    <img class="line" src="../../../../assets/img/small_line_blue_left.png" alt="small line">
    <a href="#"><img src="../../../../assets/img/github_btn.png" alt="github_btn"></a>
    <a href="#"><img src="../../../../assets/img/email_btn.png" alt="email_btn"></a>
    <a href="#"><img src="../../../../assets/img/linkedin_btn.png" alt="linkedin_btn"></a>
    <a class="mail" href="#">lakottamarcel&#064;gmail.de</a>
</div>