<section class="profil-wrap">
    <div class="shadow" data-aos="fade-down">
        <img class="me" src="../../../assets/img/me_photo2.png" alt="me_photo">
    </div>
    <div class="profil-wrapper">
        <div class="headline-parts" data-aos="fade-up"data-aos-delay="200">
            <span>I am</span>
            <div class="headline">
                <h1 >Marcel Lakotta</h1>
                <h2 >FRONTEND DEVELOPER</h2>
            </div>
        </div>
        <a href="#contact" data-aos="fade-down"data-aos-delay="200"><button class="btn">Let's talk!</button></a></div>
    <div class="seperator">
        <div class="seperator-img soft-border-left soft-border-right"></div>
    </div>
    <div class="scroll-down-arrow">
        <img data-aos="fade-down"data-aos-delay="200" src="../../../../assets/img/scroll_down.png" alt="scroll_down">
    </div>
</section>
<div class="social-links soft-border-left">
    <img class="line small-line" src="../../../../assets/img/small_line_blue_left.png" alt="small line">
    <a data-aos="flip-right" data-aos-delay="100" data-aos-offset="0" href="https://github.com/LakottaMa" target="_blank" title="GitHub">
        <img src="../../../../assets/img/github_btn.png" alt="github_btn">
    </a>
    <a data-aos="flip-left" data-aos-delay="100" data-aos-offset="0" href="mailto:lakottamarcel&#064;gmail.de" title="Email">
        <img src="../../../../assets/img/email_btn.png" alt="email_btn">
    </a>
    <a data-aos="flip-right" data-aos-delay="100" data-aos-offset="0" href="https://www.linkedin.com/in/marcel-lakotta" target="_blank" title="LinkedIn">
        <img src="../../../../assets/img/linkedin_btn.png" alt="linkedin_btn">
    </a>
    <a data-aos="zoom-in" data-aos-delay="100" class="mail" href="mailto:lakottamarcel&#064;gmail.de" title="Email">lakottamarcel&#064;gmail.com</a>
</div>
