<section class="profil-wrap">
    <div>
        <img class="me" src="../../../assets/img/me_photo2.png" alt="me_photo">
    </div>
    <div class="profil-wrapper">
        <div class="headline-parts">
            <span>I am</span>
            <div class="headline">
                <h1>Marcel Lakotta</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
        </div>
        <a href="#contact"><button class="btn"> Let's talk!</button></a>    </div>
    <div class="seperator">
        <div class="seperator-img"></div>
    </div>
    <div class="scroll-down-arrow">
        <img src="../../../../assets/img/scroll_down.png" alt="scroll_down">
    </div>
</section>
<div class="social-links">
    <img class="line" src="../../../../assets/img/small_line_blue_left.png" alt="small line">
    <a href="https://github.com/LakottaMa" target="_blank"><img src="../../../../assets/img/github_btn.png"
            alt="github_btn"></a>
    <a href="mailto:lakottamarcel&#064;gmail.de"><img src="../../../../assets/img/email_btn.png" alt="email_btn"></a>
    <a href="https://www.linkedin.com/in/marcel-lakotta" target="_blank"><img
            src="../../../../assets/img/linkedin_btn.png" alt="linkedin_btn"></a>
    <a class="mail" href="#">lakottamarcel&#064;gmail.com</a>
</div>