@import "../../../styles.scss";
@import "../../../media-style.scss";
section {
    position: relative;
    align-items: flex-start;
    padding: 0;
    .me {
        height: 700px;
        margin-left: 80px;
    }
}

.headline-parts {
    display: flex;
    align-items: center;
    span {
        margin-right: -30px;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
        font-size: 3.9rem;
    }
}

button {
    margin-top: 44px;
    background-color: $lightblue;
    &:hover {
        background-color: $blue;
        scale: 1.1;
    }
}

.headline {
    display: flex;
    flex-direction: column;
}

.profil-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: calc(50% - 220px);
    left: calc(100% - 868px);
}

.shadow {
    display: flex;
    background-image: url("../../../assets/img/groupe_shadow_profil.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 40px;
    background-position-x: -56px;
    width: 100%;
}

.text:nth-last-child(1) {
    align-items: center;
}

.seperator {
    position: absolute;
    height: 700px;
    right: 0;
    left: 0;
    bottom: -188px;
    z-index: -1;
}

.seperator-img {
    position: relative;
    background: url("../../../assets/img/mask_bg.png") no-repeat;
    left: 0;
    height: 100%;
    width: 100%;
}

.scroll-down-arrow img {
    position: absolute;
    bottom: 0;
    right: 96px;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    a {
        text-decoration: none;
        height: 30px;
        transition: all 0.175s;
        &:hover {
            transform: scale(1.35);
        }
    }
}

.mail {
    font-size: 1.5rem;
    line-height: 1;
    &:hover {
        transform: none !important;
    }
}
