@import "../../../styles.scss";

section {
    margin-top: 280px;
    flex-direction: column;
}

.headline {
    width: 100%;
    margin-left: -200px;
    display: flex;
    align-items: center;
    img {
        width: 50px;
        margin-right: 50px;
    }
}

.contact-form {
    width: 100%;
    margin: 85px 0 185px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    width: 436px;
    h3 {
        font-size: 2rem;
    }
    span {
        font-weight: 700;
    }
    p {
        margin: 25px 0;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    input.ng-valid,
    textarea.ng-valid {
        &:hover {
            pointer-events: none;
        }
        &:focus {
            outline: none;
        }
        border-color: $green;
    }

    input,
    textarea {
        padding: 10px;
        border: solid 1px $blue;
        border-radius: 10px;
        background-color: hsla(0, 0%, 0%, 0);
        &:hover {
            border-color: $lightblue;
            cursor: pointer;
        }
    }
    input::placeholder,
    textarea::placeholder {
        color: white;
    }
}

.btn {
    background-color: $grey;
}

.error-input {
    margin-top: 12px;
    span {
        color: $red;
    }
}

.message-container {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px #000000;
    transition: 0.5s ease-in-out;
    font-size: 1.5rem;
    z-index: 9999;
}

.slide-in {
    bottom: 50%;
}

.slide-out {
    bottom: -100px;
}

.success {
    background-color: $green;
    color: $bg-primary-color;
}

.error {
    background-color: $red;
    color: #fff;
}
