<section>
    <div class="headline">
        <img class="line" src="../../../../assets/img/small_line_blue_left.png" alt="small line">
        <h1>Contact</h1>
    </div>
    <div class="contact-form">
        <div class="text">
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.</p>
            <p>Need a Frontend developer? <span>Contact me!</span></p>
        </div>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="form-group">
                <!-- <label for="name"></label> -->
                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="user_name"
                    placeholder="Your name" required>
                <div class="error" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <span *ngIf="name.errors?.['required']">Your name is empty</span>
                </div>
            </div>
            <div class="form-group">
                <!-- <label for="email"></label> -->
                <input #email="ngModel" [(ngModel)]="contactData.email" type="email" name="user_email"
                    placeholder="Your email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                <div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <span *ngIf="email.errors?.['required']">Your email is empty</span>
                    <span *ngIf="email.errors?.['pattern']">Please enter a valid email address</span>
                </div>
            </div>
            <div class="form-group">
                <!-- <label for="message"></label> -->
                <textarea #message="ngModel" [(ngModel)]="contactData.message" type="text" rows="10" minlength="10"
                    name="user_message" placeholder="Your message" required></textarea>
                <div class="error" *ngIf="message.invalid && (message.dirty || message.touched)">
                    <span *ngIf="message.errors?.['required']">Your message is empty.</span>
                    <span *ngIf="message.errors?.['minlength'] && !message.errors?.['required']">Your message must be at least 10 characters long.</span>
                </div>
            </div>
            <button class="btn" type="submit">Send message :)</button>
        </form>
    </div>
</section>