@import "../../../styles.scss";
section {
    border: solid 2px darkblue;
    width: 100vw;
    max-width: 1440px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}