<section>
    <div class="text-policy">
        <div class="close-button cp">
            <a href="#home">&times;</a>
        </div>
        <h1>{{'Privacy Policy' | translate}}</h1>
        <h2>{{'titleh2 1' | translate}}</h2>
        <h3>{{'titleh3 1' | translate}}</h3>
        <p>{{'text p 1' | translate}}</p>
        <h3>{{'titleh3 2' | translate}}</h3>
        <h4>{{'titleh4 1' | translate}}</h4>
        <p>{{'text p 2' | translate}}</p>
        <h4>{{'titleh4 2' | translate}}</h4>
        <p>{{'text p 3' | translate}}</p>
        <p>{{'text p 4' | translate}}</p>
        <h4>{{'titleh4 3' | translate}}</h4>
        <p>{{'text p 5' | translate}}</p>
        <h4>{{'titleh4 4' | translate}}</h4>
        <p>{{'text p 6' | translate}}</p>
        <p>{{'text p 7' | translate}}</p>
        <h2>{{'titleh2 2' | translate}}</h2>
        <p>{{'text p 8' | translate}}</p>
        <h3>{{'titleh3 3' | translate}}</h3>
        <p>{{'text p 9' | translate}}</p>
        <p>{{'text p 10' | translate}} <a href="https://www.strato.de/datenschutz/" target="_blank" rel="noopener noreferrer">{{'text p a 10' | translate}}</a>.</p>
        <p>{{'text p 11' | translate}}</p>
        <h4>{{'titleh4 5' | translate}}</h4>
        <p>{{'text p 12' | translate}}</p>
        <h2>{{'titleh2 3' | translate}}</h2>
        <h3>{{'titleh3 4' | translate}}</h3>
        <p>{{'text p 13' | translate}}</p>
        <p>{{'text p 14' | translate}}</p>
        <p>{{'text p 15' | translate}}</p>
        <h3>{{'titleh3 5' | translate}}</h3>
        <p>{{'text p 16' | translate}}</p>
        <p>{{'text p 17' | translate}}</p>
        <p>{{'text p 18' | translate}}<br />{{'text p 18 brake' | translate}}</p>
        <p>{{'text p 19' | translate}}</p>
        <h3>{{'titleh3 6' | translate}}</h3>
        <p>{{'text p 20' | translate}}</p>
        <h3>{{'titleh3 7' | translate}}</h3>
        <p>{{'text p 21' | translate}}</p>
        <h3>{{'titleh3 8' | translate}}</h3>
        <p>{{'text p 22' | translate}}</p>
        <h3>{{'titleh3 9' | translate}}</h3>
        <p>{{'text p 23' | translate}}</p>
        <h3>{{'titleh3 10' | translate}}</h3>
        <p>{{'text p 24' | translate}}</p>
        <p>{{'text p 25' | translate}}</p>
        <h3>{{'titleh3 11' | translate}}</h3>
        <p>{{'text p 26' | translate}}</p>
        <h3>{{'titleh3 12' | translate}}</h3>
        <p>{{'text p 27' | translate}}</p>
        <h3>{{'titleh3 13' | translate}}</h3>
        <p>{{'text p 28' | translate}}</p>
        <h3>{{'titleh3 14' | translate}}</h3>
        <p>{{'text p 29' | translate}}</p>
        <ul>
            <li>{{'list li1' | translate}}</li>
            <li>{{'list li2' | translate}}</li>
            <li>{{'list li3' | translate}}</li>
            <li>{{'list li4' | translate}}</li>
        </ul>
        <p>{{'text p 30' | translate}}</p>
        <h3>{{'titleh3 15' | translate}}</h3>
        <p>{{'text p 31' | translate}}</p>
        <p>{{'text p 32' | translate}}</p>
        <p>{{'text p 33' | translate}} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </div>
</section>