<section>
    <div>
        <div class="close-button cp">
            <a href="#footer">&times;</a>
        </div>
        <h1>{{'Imprint' | translate}}</h1>
        <br>
        <br>
        <p>Marcel Lakotta<br />
            Bahnhofstr. 49<br />
            04774 Dahlen</p>
        <br>
        <h3>{{'Cnt' | translate}}</h3>
        <p>Phone: &#91;+49 1637158719&#93;<br />
            E-Mail: <a href="mailto:lakottamarcel&#064;gmail.de">lakottamarcel&#064;gmail.com</a></p>
    </div>
</section>