@import "../../styles.scss";

section {
    width: 100vw;
    max-width: 1440px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
