@media screen and (max-width: 1350px) {
    .profil-wrapper {
        top: calc(50% - 230px) !important;
    }
}

@media screen and (max-width: 1260px) {
    .me-photo-ellipse {
        height: 300px !important;
        width: 300px !important;
        background-position-y: 20px !important;
        background-position-x: -50px !important;
    }
    .contact-form {
        flex-direction: column;
        .text {
            width: 100% !important;
        }
    }

    .img-line-right {
        width: 120px !important;
    }

    h1 {
        font-size: 4.5rem !important;
    }

    h2 {
        font-size: 2.9rem !important;
    }

    .profil-wrapper {
        left: calc(100% - 740px) !important;
        top: calc(50% - 200px) !important;
    }

    .headline-parts span {
        font-size: 3.35rem !important;
    }

    .me {
        height: 600px !important;
    }

    .seperator {
        height: 696px !important;
    }
}

@media screen and (max-width: 1100px) {
    .profil-wrapper {
        left: calc(100% - 670px) !important;
        top: calc(50% - 170px) !important;
    }
    .headline-parts span {
        font-size: 3.1rem !important;
    }
    .profil-wrap {
        flex-direction: column !important;
    }
    .me {
        height: 420px !important;
    }
    .shadow {
        margin-left: 100px;
        background-position-x: 0 !important;
    }
    h1 {
        font-size: 4rem !important;
    }
    h2 {
        font-size: 2.55rem !important;
    }
    h3 {
        font-size: 2rem !important;
    }
    .btn {
        font-size: 1.25rem !important;
        padding: 12px 26px;
    }
    .wrapper {
        gap: 12px !important;
        img {
            height: 240px !important;
        }
        span {
            font-size: 1.25rem !important;
        }
    }

    .seperator {
        height: 680px !important;
    }
}

@media screen and (max-width: 1024px) {
    section::before {
        display: none !important;
    }
    section::after {
        display: none !important;
    }
    .soft-border-left {
        &::before {
            display: none !important;
        }
    }
    .soft-border-right {
        &::after {
            display: none !important;
        }
    }
    .shadow-skills::before {
        display: none !important;
    }
    section {
        padding: 0 50px !important;
    }

    .scroll-down-arrow img {
        right: 46px !important;
        width: 24px !important;
    }
    .me {
        height: 400px !important;
        margin-right: -50px !important;
    }
    .shadow {
        margin-left: 50px;
    }
    .profil-wrapper {
        left: calc(100% - 480px) !important;
        top: calc(50% - 160px) !important;
        h1 {
            font-size: 3rem !important;
        }
        h2 {
            font-size: 2rem !important;
            margin: 16px 0 0 0;
            letter-spacing: 1.5px;
        }
    }

    .headline-parts span {
        font-size: 2.4rem !important;
        margin-right: -20px !important;
    }

    .seperator {
        height: 670px !important;
    }

    .img-line-right {
        width: 50px !important;
    }

    .aboutme-shortbox {
        p {
            margin-left: 24px !important;
        }
        img {
            height: 40px !important;
            margin-left: 22px !important;
        }
    }

    .me-photo-ellipse {
        height: 250px !important;
        width: 250px !important;
        background-size: 280px !important;
        background-position-y: 30px !important;
        background-position-x: -20px !important;
    }

    .mg-top {
        margin-top: 120px !important;
    }

    .wrap-container {
        gap: 1.5rem !important;
    }
    .wrapper {
        .buttons {
            gap: 48px;
        }
    }

    .line2 {
        right: -50px !important;
    }

    .mail {
        font-size: 1.25rem !important;
        line-height: normal !important;
    }

    form {
        width: 100% !important;
        padding: 0 50px;

        button span {
            font-size: 1.25rem !important;
        }
    }

    .contact-form {
        margin: 50px 0 130px 0 !important;
    }
    .contact-form {
        h3,
        p {
            margin: 25px 50px !important;
        }
    }
}

@media screen and (max-height: 932px) {
    .mg-top {
        margin-top: 100px !important;
    }
}

@media screen and (max-width: 880px) {
    a, h5, h1, label, span, p, button, svg, div {
        -webkit-tap-highlight-color: transparent !important;
    }
    
    a:focus, a:active, h5:focus, h5:active, h1:focus, h1:active, svg:focus, svg:active, label:focus, label:active, span:focus, span:active, p:focus, p:active, button:focus, button:active {
        outline: none !important;
        box-shadow: none !important;
    }

    .shadow {
        margin-left: 0px;
    }

    h1 {
        font-size: 3rem !important;
    }

    .btn {
        font-size: 1.125rem !important;
        padding: 10px 24px;
    }
    .wrapper {
        gap: 12px !important;
        img {
            height: 200px !important;
        }
        span {
            font-size: 1.125rem !important;
        }
    }
    .shadow-portfolio {
        scale: 0.8 !important;
        right: 0 !important;
        left: auto !important;
    }
}

@media screen and (max-width: 768px) {
    .shadow {
        margin-left: -70px;
    }
    .mail {
        display: none;
    }
    aside {
        width: fit-content !important;
    }
    .me-photo-ellipse,
    .img-line-right {
        display: none;
    }
    h3 {
        font-size: 1.75rem !important;
    }
    .btn {
        font-size: 1.1rem !important;
        padding: 10px 22px;
    }
    .wrapper {
        gap: 0 !important;
        flex-direction: column;
        text-align: center !important;
    }
    .wrap-reverse {
        flex-direction: column-reverse;
    }
    .text {
        h1 {
            margin-left: 12px;
        }
        span {
            display: flex;
            justify-content: center;
        }
        .buttons {
            justify-content: center;
            a {
                margin-top: 24px;
            }
        }
    }
    .contact-form {
        h3,
        p {
            text-align: start;
        }
    }
}

@media screen and (max-width: 700px) {
    .headline img {
        margin-right: 10px !important;
    }
    form {
        padding: 0 10px;
    }
    .contact-form {
        h3,
        p {
            margin: 25px 10px !important;
        }
    }
    .me {
        margin: 0 !important;
    }
    .shadow {
        justify-content: center;
        background-position: center !important;
        margin-left: 0;
    }

    .scroll-down-arrow {
        display: none;
    }

    .profil-wrap {
        align-items: center;
    }

    .profil-wrapper {
        width: 100%;
        left: -10px !important;
        top: 100% !important;
    }

    .social-links {
        padding-top: 260px;
    }

    .wrap-container {
        margin: 0 0 60px !important;
        img {
            height: 45px;
        }
        span {
            font-size: 1rem !important;
        }
    }
}

@media screen and (max-width: 536px) {
    .shadow-contact1 {
        bottom: 980px !important;
    }
    .wrap-container {
        gap: 0 !important;
    }

    .headline-parts {
        h1 {
            font-size: 2.5rem !important;
        }
        h2 {
            font-size: 1.65rem !important;
            margin-top: 10px;
        }
        span {
            font-size: 1.85rem !important;
        }
    }
    .contact-form {
        h3 {
            font-size: 1.5rem !important;
            margin: 0 0 25px 0 !important;
        }
        .text p {
            margin: 16px 0 !important;
        }
    }
    form {
        padding: 0;
    }

    h1 {
        font-size: 2.5rem !important;
    }
    .line1 {
        width: 55px !important;
        right: 13px !important;
    }
    .line2 {
        right: -25px !important;
        left: 13px !important;
    }
    .social-links {
        padding-top: 220px;
    }
}

@media screen and (max-width: 480px) {
    section {
        padding: 0 25px !important;
    }
    .text {
        h1 {
            margin: 0 12px !important;
        }
    }
    .headline span {
        padding: 0 24px !important;
    }
    .profil-wrap {
        padding: 0 !important;
    }
}

@media screen and (max-width: 445px) {
    .headline-parts {
        h1 {
            font-size: 2.25rem !important;
        }
        h2 {
            font-size: 1.47rem !important;
            margin-top: 10px;
        }
        span {
            font-size: 1.7rem !important;
            margin-right: -10px !important;
        }
    }
    .aboutme-shortbox {
        p {
            margin: 0 0 0 12px !important;
        }
        img {
            height: 32px !important;
        }
    }
    .social-links {
        padding: 200px 16px 0 0;
        justify-content: center;
    }
    .small-line {
        position: absolute;
        left: 0;
        width: 75px !important;
    }
}

@media screen and (max-width: 380px) {
    .headline-parts {
        h1 {
            font-size: 2rem !important;
        }
        h2 {
            font-size: 1.375rem !important;
            margin-top: 10px;
            letter-spacing: 0.75px;
        }
        span {
            font-size: 1.5rem !important;
            margin-right: -10px !important;
        }
    }
    .small-line {
        width: 60px !important;
    }
    .shadow {
        background-size: cover;
    }
}
