@media screen and (max-width: 1350px) {
    .profil-wrapper {
        top: calc(50% - 230px) !important;
    }
}

@media screen and (max-width: 1260px) {
    .me-photo-ellipse {
        height: 300px !important;
        width: 300px !important;
        background-position-y: 20px !important;
        background-position-x: -50px !important;
    }
    .contact-form {
        flex-direction: column;
    }

    .img-line-right {
        width: 120px !important;
    }

    aside p {
        font-size: 1.25rem !important;
    }

    h1 {
        font-size: 4.5rem !important;
    }
    h2 {
        font-size: 2.9rem !important;
    }
    .profil-wrapper {
        left: calc(100% - 740px) !important;
        top: calc(50% - 200px) !important;
    }
    .headline-parts span {
        font-size: 3.35rem !important;
    }

    .me {
        height: 600px !important;
    }

    .seperator {
        height: 696px !important;
    }
}

@media screen and (max-width: 1100px) {
    .profil-wrapper {
        left: calc(100% - 670px) !important;
        top: calc(50% - 170px) !important;
    }
    .headline-parts span {
        font-size: 3.1rem !important;
    }
    .profil-wrap {
        flex-direction: column !important;
    }
    .me {
        height: 420px !important;
    }
    h1 {
        font-size: 4rem !important;
    }
    h2 {
        font-size: 2.55rem !important;
    }
    h3 {
        font-size: 2rem !important;
    }
    .btn {
        font-size: 1.25rem !important;
        padding: 12px 26px;
    }
    .wrapper {
        gap: 12px !important;
        img {
            height: 240px !important;
        }
        span {
            font-size: 1.25rem !important;
        }
    }

    .seperator {
        height: 680px !important;
    }
}

@media screen and (max-width: 1024px) {
    section {
        padding: 0 50px !important;
    }

    .scroll-down-arrow img {
        right: 46px !important;
        width: 24px !important;
    }

    .profil-wrapper {
        left: calc(100% - 480px) !important;
        top: calc(50% - 160px) !important;
        h1 {
            font-size: 3rem !important;
        }
        h2 {
            font-size: 2rem !important;
            margin: 16px 0 0 0;
            letter-spacing: 1.5px;
        }
    }
    .headline-parts span {
        font-size: 2.8rem !important;
    }

    .headline-parts span {
        font-size: 2.4rem !important;
        margin-right: -20px !important;
    }

    .seperator {
        height: 670px !important;
    }

    .img-line-right {
        margin-right: 50px;
        width: 30px !important;
    }

    .aboutme-shortbox {
        p {
            margin-left: 24px !important;
        }
        img {
            height: 40px !important;
            margin-left: 22px !important;
        }
    }

    .me-photo-ellipse {
        height: 250px !important;
        width: 250px !important;
        background-size: 280px !important;
        background-position-y: 30px !important;
        background-position-x: -20px !important;
    }
    .me {
        height: 400px !important;
        margin-left: 15px !important;
    }

    .mg-top {
        margin-top: 100px !important;
    }

    .wrap-container {
        gap: 1.5rem !important;
    }
    .wrapper {
        .buttons {
            gap: 48px;
        }
    }

    .line2 {
        right: -50px !important;
    }

    .mail {
        font-size: 1.25rem !important;
        line-height: normal !important;
    }

    form {
        width: 100% !important;
        padding: 0 50px;

        button span {
            font-size: 1.25rem !important;
        }
    }

    .contact-form {
        margin: 50px 0 130px 0 !important;
    }
}

@media screen and (max-width: 880px) {
    aside {
        margin-top: 100px !important;
    }

    h1 {
        font-size: 3rem !important;
    }

    .btn {
        font-size: 1.125rem !important;
        padding: 10px 24px;
    }
    .wrapper {
        gap: 12px !important;
        img {
            height: 200px !important;
        }
        span {
            font-size: 1.125rem !important;
        }
    }
    .mg-top {
        margin-top: 70px !important;
    }
}

@media screen and (max-width: 768px) {
    .mail {
        display: none;
    }
    aside {
        width: fit-content !important;
        margin-top: 70px !important;
        p {
            font-size: 1.125rem !important;
        }
    }
    .me-photo-ellipse,
    .img-line-right {
        display: none;
    }
    h3 {
        font-size: 1.75rem !important;
    }
    .btn {
        font-size: 1.1rem !important;
        padding: 10px 22px;
    }
    .wrapper {
        gap: 0 !important;
        flex-direction: column;
    }
    .wrap-reverse {
        flex-direction: column-reverse;
    }
    .text{
        h3, p {
            text-align: center;
        }
        span{
            display: flex;
            justify-content: center;
        }
        .buttons {
            justify-content: center;
            a{
                margin-top: 24px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    form{
        padding: 0 10px;
    }
    nav{
        gap: 1rem !important;
        a{
            font-size: 1.125rem !important;
        }
    }

    .scroll-down-arrow {
        display: none;
    }

    .profil-wrap{
        align-items: center;
    }

    .profil-wrapper {
        width: 100%;
        left: 0 !important;
        top: 100% !important;
    }

    .social-links {
        padding-top: 260px;
    }

    .wrap-container {
        margin: 0 0 60px !important;
        img{
        height: 45px;
        }
        span{
            font-size: 1rem !important;
        }
    }

}

@media screen and (max-width: 536px) {
    nav{
        display: none !important;
    }
    .wrap-container {
        gap: 0 !important;
    }
}


