@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/poppins-v21-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/poppins-v21-latin-700.woff2") format("woff2");
}

$bg-primary-color: #141d2f;
$blue: #4b47ff;
$lightblue: #00bee8;
$lightgreen: #1ce6b6;
$green: #70e61c;
$grey: #b6b6b6;
$red: #e61c40;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        "Poppins",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    color: aliceblue;
}

/* Scrollbalcken */
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 0;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, $blue);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $lightblue;
}

body {
    background-color: $bg-primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    border: 1px solid red;
    width: 100vw;
    max-width: 1440px;
    padding: 0 100px;
    display: flex;
    align-items: center;
}

.text a{
    width: max-content;
    height: max-content;
    margin-top: 56px;
}

.btn {
    width: max-content;
    align-self: center;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
    padding: 15px 30px;
    box-shadow: 4px 4px 4px 0px #000000;
    border-radius: 10px;
}

.cp{
    cursor: pointer;
}

.btn:active {
    background-color: #ffffff !important;
    color: #000000;
    scale: .95;
}

.blue-background {
    background-color: $lightblue !important;
    &:hover {
        padding: 22px 38px;
    }
    &:active {
        padding: 20px 36px;
        span{
        color: #000000;
        }
    }
}

h1 {
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 0.9;
}

h2 {
    font-size: 3.5rem;
    color: $blue;
    font-weight: 400;
    letter-spacing: 3.1px;
    line-height: 0.9;
    margin-top: 20px;
}

.line {
    height: 4px;
}

.mg-top {
    margin-top: 280px;
}

/** Message sending Contact Form */
.message-container {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px #000000;
    transition: 0.5s ease-in-out;
    font-size: 1.5rem;
    z-index: 9999;
}

.slide-in {
    bottom: 50%;
}

.slide-out {
    bottom: -100px;
}

.success {
    background-color: $green;
    color: $bg-primary-color;
}

.error {
    background-color: $red;
    color: #fff;
}


@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
