@import "../../../styles.scss";
@import "../../../media-style.scss";

section {
    position: relative;
    flex-direction: column;
    align-items: center;
}

.shadow-portfolio {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom:  0px;
    opacity: 0.5;
}

.headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        margin-top: 36px;
    }
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
}

.line-left {
    position: relative;
    flex: 1;
}

.line-right {
    position: relative;
    flex: 1;
}

.line1 {
    background-color: $blue;
    position: absolute;
    width: 110px;
    right: 36px;
}

.line2 {
    background-color: $blue;
    position: absolute;
    left: 36px;
    right: -100px;
    &::after {
        height: 4px;
        width: 50px;
    }

}
h3{
    text-shadow: 2px 2px 2px $bg-primary-color, 0 0 25px black, 0 0 5px $bg-primary-color !important;
}