<section class="mg-top">
    <div class="headline">
        <div class="title">
            <div class="line-left">
                <div class="line line1"></div>
            </div>
            <h1>Portfolio</h1>
            <div class="line-right">
                <div class="line line2"></div>
            </div>
        </div>
        <span>{{'Pf span' | translate}}</span>
    </div>
    <app-portfolio-template1></app-portfolio-template1>
    <app-portfolio-template2></app-portfolio-template2>
</section>