@import "../../../styles.scss";
@import "../../../media-style.scss";

section {
    flex-direction: column;
    align-items: center;
}

.headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        margin-top: 36px;
    }
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
}

.line-left {
    position: relative;
    flex: 1;
}


.line-right {
    position: relative;
    flex: 1;
}


.line1 {
    background-color: $blue;
    position: absolute;
    width: 110px;
    right: 36px;
}

.line2 {
    background-color: $blue;
    position: absolute;
    left: 36px;
    right: -100px;
}